:host {
    --sds-c-button-brand-color-background: #E53E25;
    --sds-c-button-brand-color-background-hover: #003578;
    outline: 0;
    box-shadow: none;
    --sds-c-button-radius-border: 20px;
    background-color: #272952;
    color: #272952;
}
.split-container {
    display: flex;
    height: 100%;
    width: 100%; /* Updated to 100% width */
}

.left-pane, .right-pane {
    flex: 1;
    padding: 20px;
}

.separator {
    border-left: thick solid #1e043c;
}
.buttonTest{
    color:#E53E25 ;
}
.headerInit{
    /* color:#272952 ; font-size: 170%; font-family: Work Sans - Extra Bold;position: relative; width:50%; */
    color:#272952 ; font-size: 130%; font-family: Work Sans - Extra Bold;position: relative; width:50%;
}
.header1{
    /*color:#272952 ; font-size: 120%; font-family: Work Sans - Extra Bold;position: relative; width:50%;*/
    color:#272952 ; font-size: 100%; font-family: Work Sans - Extra Bold;position: relative; width:50%;
}
.slds-combobox{
    color:#272952 ; background-color: #272952;
}
.header2{
    color:#273A93 ; width:50%; font-size: 100%; font-family: Work Sans - Bold;position: relative;
}
.header3{
    color:#272952 ; width:50%; font-size: 70%; font-family: Work Sans - Bold;
}
.header4{
   text-align: center; color:#272952 ; width:50%; font-size: 70%; font-family: Work Sans - Bold;
}

.fieldLabels {
    font-size : medium;
    font-family : emoji;
    font-weight: 600;
    color : #0807078a;
}
.slds-button_brand {
    background-color: purple;
}

.fieldLabels2 {
    vertical-align: top;
    font-size: 10px;
}
.columnsResultsCss{
    max-width: 20px;
}

.headText {
    font-size : xx-large;
    font-weight: bold;
    color : #ee3b3f;
    font-family : Courier New;
}
.headTableStyle {
    /*border : 2px solid  #ee3b3f;*/
    margin-left:5rem;
    margin-right:5rem;
    margin-top:5rem;
    /*background-color: white;*/
    width: 90%;
    
}
.bodyTableStyle {
    border : 2px solid  #ee3b3f;
    margin-left:5rem;
    margin-right:5rem;
    margin-top:.1rem;
    margin-bottom : 5rem;
    /*background-color: white;*/
    width: 90%;
}
.helperText {
    font-size : medium;
    font-weight: 600;
    color : #f5868b;
    font-family : Courier New;
}
.chkBoxStyle {
    transform: scale(1.7);
    border: groove;
    color : #f5868b;
}
.tdStyle {
    vertical-align: top;
    padding : 6px;
}
.tdChkBoxStyle {
    vertical-align: top;
    padding : 6px;
}

.dateStyle {
    border: groove;
    color :black;
    height: 35px;
}

.textStyle {
    text-transform: uppercase;
    /*border: groove;
    color :black;
    height: 35px;*/
}

.selectStyle {
    width:100%;
    text-transform: uppercase;
    border: groove;
    color :black;
    height: 35px;
}

.smallHeadText {
    font-size : medium;
    font-weight: bold;
    color : #ee3b3f;
    font-family : Courier New;
}
.memberCardEnter {
    text-transform : uppercase;
    border : 2px solid green;
    cursor : pointer;
}
.memberCardLeave {
    text-transform : uppercase;
    cursor : default;
}
.networkCardEnter {
    text-transform : uppercase;
    border : 2px solid green;
    cursor : pointer;
}
.networkCardLeave {
    text-transform : uppercase;
    cursor : default;
}

.paEnter {
    text-transform : uppercase;
    border : 2px solid green;
    cursor : pointer;
}
.paLeave {
    text-transform : uppercase;
    cursor : default;
}

.serviceLineButtons {
    display:none;
}


.slds-dropdown_left{left:274px}

.pillSize .slds-pill{
    width : 100%;
    height: 100%;
}
.lineItemFields {
    padding-right: 3px;
    padding-left: 3px;
}
.class2{
    border: 2px solid rgb(27, 150, 255);
    border-radius: var(--lwc-borderRadiusMedium,0.25rem);
}
.error{
    display: block !important;
    background-color: red;
}
.valid{
    display: block !important;
    background-color: rgb(113, 240, 113);
}

.slds-form-element_stacked .slds-form-element{
    width: fit-content;
}