.slds-grid .slds-hyphenate {
    width: 100%
}

.slds-grid .slds-truncate {
    width: 100%
}

.picklist-container,

.lookup-container{

    width : 100%;

    margin: spacingNone;

}

.picklist-container .slds-dropdown,

.lookup-container .slds-dropdown{

    position: relative !important;

    z-index: 99 !important;

    overflow-y: auto;

}

th.slds-has-focus, td.slds-has-focus{

    box-shadow: none !important;

}
/* Style the scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Style the scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Style the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Style the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  